.vl {
  border-left: thin solid gray;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited{
    color:black;
    text-decoration: none;
}

.post {
    border: 0.1em solid gray;
    width: 80%;
    margin: auto;
    margin-top: 25em;
}
